---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=2020&city=New%20York&format=json&state=NY&street=20%20W%2034th%20St.&zip=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"zip":"10001","city":"New York","street":"20
        W 34th St.","state":"NY"},"benchmark":{"isDefault":false,"benchmarkDescription":"Public
        Address Ranges - Census 2020 Benchmark","id":"2020","benchmarkName":"Public_AR_Census2020"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"59653429"},"coordinates":{"x":-73.98524258380219,"y":40.74865337901453},"addressComponents":{"zip":"10118","streetName":"34TH","preType":"","city":"NEW
        YORK","preDirection":"W","suffixDirection":"","fromAddress":"2","state":"NY","suffixType":"ST","toAddress":"98","suffixQualifier":"","preQualifier":""},"matchedAddress":"20
        W 34TH ST, NEW YORK, NY, 10118"}]}}'
  recorded_at: Thu, 11 Apr 2024 09:05:41 GMT
recorded_with: VCR 6.2.0
