---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=2020&city=New%20York&format=json&state=NY&street=I%20do%20not%20exist&zip=12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"zip":"12345","city":"New York","street":"I
        do not exist","state":"NY"},"benchmark":{"isDefault":false,"benchmarkDescription":"Public
        Address Ranges - Census 2020 Benchmark","id":"2020","benchmarkName":"Public_AR_Census2020"}},"addressMatches":[]}}'
  recorded_at: Thu, 11 Apr 2024 09:05:42 GMT
recorded_with: VCR 6.2.0
