---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=TOKEN&lat=40.74865337901453&lon=-73.98524258380219&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1712836800,"main":{"temp":51.1,"feels_like":50,"temp_min":51.1,"temp_max":53.19,"pressure":1016,"sea_level":1016,"grnd_level":1013,"humidity":87,"temp_kf":-1.16},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":100},"wind":{"speed":7.72,"deg":95,"gust":11.21},"visibility":10000,"pop":0.2,"rain":{"3h":0.31},"sys":{"pod":"d"},"dt_txt":"2024-04-11
        12:00:00"},{"dt":1712847600,"main":{"temp":53.56,"feels_like":52.57,"temp_min":53.56,"temp_max":55.31,"pressure":1015,"sea_level":1015,"grnd_level":1013,"humidity":84,"temp_kf":-0.97},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":100},"wind":{"speed":8.66,"deg":111,"gust":11.74},"visibility":10000,"pop":1,"rain":{"3h":0.88},"sys":{"pod":"d"},"dt_txt":"2024-04-11
        15:00:00"},{"dt":1712858400,"main":{"temp":61.16,"fe[...]
