---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=9816e0ed7a9c88ebbbc19e610983a109&lat=40.74865337901453&lon=-73.98524258380219&units=standard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1712826000,"main":{"temp":283.22,"feels_like":282.5,"temp_min":283.22,"temp_max":284.8,"pressure":1017,"sea_level":1017,"grnd_level":1013,"humidity":85,"temp_kf":-1.58},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"clouds":{"all":100},"wind":{"speed":3.33,"deg":67,"gust":4.49},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-11
        09:00:00"},{"dt":1712836800,"main":{"temp":283.79,"feels_like":283.16,"temp_min":283.79,"temp_max":284.92,"pressure":1016,"sea_level":1016,"grnd_level":1013,"humidity":86,"temp_kf":-1.13},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":100},"wind":{"speed":3.45,"deg":95,"gust":5.01},"visibility":10000,"pop":0.2,"rain":{"3h":0.31},"sys":{"pod":"d"},"dt_txt":"2024-04-11
        12:00:00"},{"dt":1712847600,"main":{"temp":285.14,"feels_like":284.59,"temp_min":285.14,"temp_max":286.1,"pressure":1016,"sea_level":1016,"grnd_level":1013,"humidity":84,"temp_kf":-0.96},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":100},"wind":{"speed":3.87,"deg":111,"gust":5.25},"visibility":10000,"pop":1,"rain":{"3h":0.88},"sys":{"pod":"d"},"dt_txt":"2024-04-11
        15:00:00"},[...]
