---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=2020&city=New%20York&format=json&state=NY&street=20%20W%2034th%20St.&zip=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"zip":"10001","city":"New York","street":"20
        W 34th St.","state":"NY"},"benchmark":{"isDefault":false,"benchmarkDescription":"Public
        Address Ranges - Census 2020 Benchmark","id":"2020","benchmarkName":"Public_AR_Census2020"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"59653429"},"coordinates":{"x":-73.98524258380219,"y":40.74865337901453},"addressComponents":{"zip":"10118","streetName":"34TH","preType":"","city":"NEW
        YORK","preDirection":"W","suffixDirection":"","fromAddress":"2","state":"NY","suffixType":"ST","toAddress":"98","suffixQualifier":"","preQualifier":""},"matchedAddress":"20
        W 34TH ST, NEW YORK, NY, 10118"}]}}'
  recorded_at: Thu, 11 Apr 2024 21:13:38 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=TOKEN&lat=40.74865337901453&lon=-73.98524258380219&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.9945,"lat":40.7529},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":14.57,"feels_like":14.33,"temp_min":12.16,"temp_max":17.9,"pressure":1012,"humidity":86},"visibility":10000,"wind":{"speed":4.63,"deg":120},"clouds":{"all":100},"dt":1712869630,"sys":{"type":2,"id":2083229,"country":"US","sunrise":1712830944,"sunset":1712878255},"timezone":-14400,"id":5125125,"name":"Long
        Island City","cod":200}'
  recorded_at: Thu, 11 Apr 2024 21:13:38 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=TOKEN&lat=40.74865337901453&lon=-73.98524258380219&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1712880000,"main":{"temp":14.24,"feels_like":14.04,"temp_min":13.75,"temp_max":14.24,"pressure":1011,"sea_level":1011,"grnd_level":1007,"humidity":89,"temp_kf":0.49},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":100},"wind":{"speed":7.53,"deg":158,"gust":18.92},"visibility":7658,"pop":1,"rain":{"3h":0.8},"sys":{"pod":"n"},"dt_txt":"2024-04-12
        00:00:00"},{"dt":1712890800,"main":{"temp":13.76,"feels_like":13.59,"temp_min":13.4,"temp_max":13.76,"pressure":1008,"sea_level":1008,"grnd_level":1004,"humidity":92,"temp_kf":0.36},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":100},"wind":{"speed":8.72,"deg":158,"gust":20.34},"visibility":9693,"pop":1,"rain":{"3h":1.77},"sys":{"pod":"n"},"dt_txt":"2024-04-12
        03:00:00"},{"dt":1712901600,"main":{"temp":13.35,"feels[...]
