---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=9816e0ed7a9c88ebbbc19e610983a109&lat=40.74865337901453&lon=-73.98524258380219&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.9862,"lat":40.748},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"base":"stations","main":{"temp":50.36,"feels_like":49.05,"temp_min":46.87,"temp_max":53.46,"pressure":1017,"humidity":84},"visibility":10000,"wind":{"speed":12.66,"deg":50},"clouds":{"all":100},"dt":1712819708,"sys":{"type":2,"id":2083229,"country":"US","sunrise":1712830942,"sunset":1712878252},"timezone":-14400,"id":5125125,"name":"Long
        Island City","cod":200}'
  recorded_at: Thu, 11 Apr 2024 07:20:58 GMT
recorded_with: VCR 6.2.0
