---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=9816e0ed7a9c88ebbbc19e610983a109&lat=40.74865337901453&lon=-73.98524258380219&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.9862,"lat":40.748},"weather":[{"id":721,"main":"Haze","description":"haze","icon":"50n"}],"base":"stations","main":{"temp":50.18,"feels_like":48.9,"temp_min":47.25,"temp_max":52.99,"pressure":1016,"humidity":85},"visibility":8047,"wind":{"speed":14.97,"deg":40},"clouds":{"all":100},"dt":1712823308,"sys":{"type":2,"id":2083229,"country":"US","sunrise":1712830942,"sunset":1712878252},"timezone":-14400,"id":5125125,"name":"Long
        Island City","cod":200}'
  recorded_at: Thu, 11 Apr 2024 08:16:10 GMT
recorded_with: VCR 6.2.0
